name: CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: tjdrhd
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
        
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install flake8 pytest pytest-cov

    - name: Apply database migrations
      run: |
        python -m alembic upgrade head

    - name: Lint code
      run: flake8 .

    - name: Run tests and generate coverage report
      run: |
        pip install pytest pytest-cov pytest-html pytest-sugar pytest-json-report
        py.test -v --cov --html=reports/pytest/report.html

    - name: Upload coverage report to Codecov
      uses: codecov/codecov-action@v2
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
